    <article class="update">
      <header>
        <%= update.user_handle %>
      </header>
        <p><%= update.message %></p>
      <footer>
        <%= update.created_at.to_s[0, 10] %>
        <span class="sentiment">
          <%= update.sentiment %>
        </span>
      </footer>
    </article>