// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

article {
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
}

.sentiment {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article:hover .sentiment {
  display: flex;
  color: blue;
  font-weight: bold;
}
